.SideNavigationbar{
  margin-top: 48px;
    width: 15%;
    height:100%;
    box-sizing: border-box;
    float:left;
    background-color:#1c473a;
    position: fixed;
  }
  
  .SideNavigationbar p{
    color: white;
    text-align: center;
  }
  
  .SideNavigationbar a {
    /* padding: 8px 8px 8px 32px; */
    padding-top: 4%;
    padding-left: 30px;
    margin-right: 10%;
    margin-left: 10%;
    text-decoration: none;
    font-size: 16px;
    color:white;
    width: auto;
    height: 40px;
    background-color: #1c473a;
    display: block;
    transition: 0.3s;
    border-radius: 8px;
    text-align: left;
  }
  .SideNavigationbar>hr{
    margin: 15px;
  }
  
  .SideNavigationbar a:hover {
  color: yellow
  }
  /* .SideNavigationbar a:visited{
    color:yellow;
    background-color: #1C6758;
  } */
  
  .Logoutbtn{
    margin-bottom: 5%;
    margin-left: 8%;
  }
  .Logoutbtn a{
    color: white;
    margin-bottom: 5%;
    border: 2px solid white;
    border-radius: 8px;
    width: 100px;
  }
  .Logoutbtn a:hover{
    color: red;
    margin-bottom: 5%;
    border: 2px solid red;
    background-color: #1c473a;
    border-radius: 8px;
    width: 100px;
  }
  
  
  .SideNavigationbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }