      
  .ftr{
    position: fixed;
    background-color: #a6a6a6;
    padding-top: 5px;
    padding-bottom: 50px;
    font-size:12px;
    line-height:24px;
    color:#474747;
    margin-bottom: auto;
    width:88%;
    height: 40px;
    margin-left: 15%;
    bottom: 0;
  }

  .ftr a{
    color: #1c473a;
  }

  .ftr-text{
    text-align: center;
  }

  .social-icons{
    text-align: center;
    display: inline;
    list-style-type: none;
    color: white;
    border-radius: 50%;
  }

  ul#menu li {
    display:inline;
    color: white;
  }
  .facebook{padding: 1%; color: white;} .facebook:hover{background-color:#3b5998;}
  .twitter{padding: 1%; color: white;} .twitter:hover{background-color:#00aced}
  .dribbble{padding: 1%; color: white;} .dribbble:hover{background-color:#ea4c89}
  .linkedin{padding: 1%; color: white;} .linkedin:hover{background-color:#007bb6;}
