.Regcard{
 background-color:#EEEEEE;
  border-radius: 8px;
  width: 60%;
  height: auto;
  box-sizing: border-box;
  float:right;
  font-family: "Sans-serif", "Verdana", monospace;
  color:#1C6758;
  text-align: left;
  border: #1c473a;
  text-align: left;
  padding: 1%;
  padding-left:15%;
  margin-left: 25%;
  margin-right: 11.1%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.Regcard>h3{
    color: #1C6758;
    margin-left: 4%;
}
.Regcard>hr{
    margin-right: 43%;
}

input[type=text], input[type=password] {
    align-items: center;
    width: 50%;
    height: 12px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 5%;
    display: inline-block;
    border: none;
    background: white;
    border-radius: 8px;
  }

  .registerbtn {
    background-color: #1c473a;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 52px;
    opacity: 0.9;
    font-weight: bold;
    font-size: large;
    border-radius: 10px; 
    display: inline;
    margin-left: 16%;
  }

  .registerbtn:hover {
    background-color:#1C6758;
    color: yellow;
  }

  .registerbtn:visited {
    background-color:#1C6758;
    color: yellow;
  }